<%= form_tag root_path, :method => 'POST' do %>
<div class="form-group">
    <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50 , class: "form-control" %>
    <%= submit_tag 'Lookup Stock Quote', class:"btn btn-primary" %>
</div>
<% end %> 

<br/> <br/>

<% if @stock %>
    <%= @stock.inspect %>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>


<% if @error %>
    <%= @error %>
<% end %>